.messages {
    padding: 20px 20px 30px 20px;
    margin-bottom: 15px;
}

.messages__title h2 {
    text-transform: capitalize;
    position: relative;
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    transition: 0.4s;
    text-decoration: none;
}

.messages__title h2:before {
    bottom: -10px;
    left: 0;
    width: 30px;
    height: 1px;
    content: "";
    position: absolute;
    background-color: #dc4734;
}
