.message__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 87px);
    max-width: 570px;
}

.message__content {
    height: 100%;
    overflow-y: auto;
    margin-bottom: 0;
    justify-content: flex-end;
}

.message__input {
    position: relative;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
}

.message__input__form {
    width: 100%;
}

.message__input__form textarea {
    width: 100%;
    resize: none;
    outline: none;
    border: none;
    display: block;
    height: 44px;
    padding: 13px 90px 13px 20px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 10px 0 rgba(85, 85, 85, 0.2);
    transition: all 0.4s ease;
}

.message__input__form-btn {
    top: 50%;
    right: 19px;
    font-size: 12px;
    font-weight: 700;
    color: #dc4734;
    line-height: 1;
    padding: 7px 25px;
    margin-right: 2px;
    border-radius: 40px;
    border: 4px solid #dc4734;
    background-color: #f1f1f1;
    position: absolute;
    text-transform: uppercase;
    cursor: pointer;
    transform: translateY(-50%);
    transition: 0.4s;
    outline: none;
}

.message__input__form-btn:hover {
    background-color: #dc4734;
    color: #fff;
}
