.profile__banner {
    padding: 0;
}

.profile__banner__background {
    position: relative;
}

.profile__banner__background > img {
    width: 100%;
    height: auto;
}

.profile__banner__avatar {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    bottom: -34px;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}

.profile__banner__info {
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

.profile__banner__info-title a {
    display: block;
    color: #444444;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
    margin-bottom: 5px;
}

.profile__banner__info-title a:hover {
    color: #dc3545;
}

.profile__banner__info-disc p {
    text-align: center;
    line-height: 22px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
}
