.header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    min-width: 1200px;
}

.menu {
    display: block;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    display: block;
    padding: 21px;
    margin-right: 10px;
    font-weight: bold;
}

.menu ul li:first-child {
    padding-left: 0;
}

.menu ul li a {
    color: #444444;
    transition: all .5s;
}

.menu ul li a:hover,
.fa-search:hover {
    color: #dc3545;
}

.logo img {
    margin-top: -12px;
    width: 110px;
}

.search {
    width: 350px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-input,
.search-button {
    border: none;
    outline: none;
}

.search-input {
    font-size: 12px;
    color: #919191;
    padding: 5px;
    border-bottom: 1px solid #919191;
}

.search-button {
    font-size: 20px;
    background-color: #fff;
    padding: 5px;
    margin: 5px;
}

.fa-search {
    color: #444444;
    cursor: pointer;
    transition: all .5s;
}

.menu ul li a.active {
    color: #dc3545;
}
