* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f8f9fa;
  color: #444444;
  margin-right: -15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}
